@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /*    Primary*/
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /*    Neutral*/
    --dark-grayish-red: hsl(0, 6%, 24%);

    /*    Gradients*/
    --gradient-angle: 135deg;
    --gradient-white: hsl(0, 0%, 100%);
    --gradient-red-100: hsl(0, 100%, 98%);
    --gradient-red-200: hsl(0, 80%, 86%);
    --gradient-red-300: hsl(0, 74%, 74%);

    /*    Font Size*/
    --font-size: 16px;

    /*    Font Family*/
    --font-family: 'Josefin Sans', sans-serif;
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    height: 100vh;
}

.nav-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--gradient-red-100);
}

.nav-logo {
    height: 20px;
}

.nav-desktop-logo {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
}

.image-container {
    flex-grow: 1;
    height: 200px;
    background: url("../assets/hero-mobile.jpg") no-repeat;
    background-size: cover;
}

.text-form-container {
    padding: 30px;
    flex-grow: 1;
    align-items: stretch;
    background-color: var(--gradient-red-100);
}

.text-form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-text {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 8px 0;
    line-height: 1.2;
}

.hero-text > h1 {
    color: var(--desaturated-red);
    font-weight: var(--weight-300);

}

.hero-text > p {
    font-weight: var(--weight-600);
}

.secondary-text-container {
    text-align: center;
    margin: 0 0 32px 0;
    font-size: var(--font-size);
    color: var(--desaturated-red);
    font-weight: var(--weight-400);
    line-height: 1.5;
}

.input-container {
    border: 1px solid var(--desaturated-red);
    border-radius: 20px;
    display: flex;
    padding-left: 16px;
    align-items: center;
}

.error-border {
    border: 1px solid var(--soft-red) !important;
}

.input-email {
    border: none;
    background-color: transparent;
    height: 16px;
    outline: none;
    flex-grow: 1;

}

.input-email::placeholder {
    color: var(--desaturated-red);
}

.input-email-error {
    font-size: 0.7rem;
    text-transform: capitalize;
    margin: 8px 0 0 16px;
    color: var(--soft-red);
    visibility: hidden;
}

.input-submit {
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    background: linear-gradient(var(--gradient-angle), var(--gradient-red-200), var(--gradient-red-300));
    box-shadow: 0px 5px 10px 0px var(--gradient-red-200);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}

.input-submit:hover {
    transform: scaleX(1.2) scaleY(1.1);
}

@media only screen and (min-width: 375px) {
    .nav-container {
        display: none;
    }

    .nav-desktop-logo {
        display: block;
        height: 100%;
    }

    .main-container {
        flex-direction: row-reverse;
        height: 100vh;
    }

    .image-container {
        width: 50%;
        height: 100%;
        background: url("../assets/hero-desktop.jpg") no-repeat;
        background-size: cover;
    }

    .text-form-container {
        width: 75%;
        padding-left: 150px;
        padding-top: 50px;
        overflow-x: auto;
        height: 100vh;
    }

    .text-form-sub-container {
        justify-content: center;
        width: 70%;
        height: 90%;
        overflow: auto;
    }

    .hero-text {
        text-align: left;
        font-size: 3rem;
        letter-spacing: 1rem;
    }

    .input-submit {
        padding: 16px 32px;
    }

    .secondary-text-container {
        text-align: left;
        font-size: 1rem;
    }
}